
; OPcacheの設定
[opcache]
opcache.enable = {{ (target=='development') | ternary(0, 1) }}
opcache.enable_cli = {{ (target=='development') | ternary(0, 1) }}
opcache.memory_consumption = 128
opcache.interned_strings_buffer = 8
opcache.max_accelerated_files = 4000
opcache.revalidate_freq = 60
opcache.fast_shutdown = 1
