; Language Options
max_execution_time = 60
memory_limit = 256M
expose_php = Off

; Data Handling
post_max_size = 8M
default_charset = "{{ charset }}"

; Paths and Directories
include_path = ".:"

; File Uploads
upload_max_filesize = 2M
max_file_uploads = 20

; Module Settings
[Date]
date.timezone = "{{ timezone }}"

[intl]
intl.default_locale = {{ locale }}

[Session]
session.sid_length = 256
session.sid_bits_per_character = 5

session.use_trans_sid = 0
session.use_cookies = 1
session.cookie_secure = 0
session.use_strict_mode = 1

session.upload_progress.enabled = On
session.upload_progress.cleanup = On
session.upload_progress.prefix = "upload_progress_"
session.upload_progress.name = "PHP_SESSION_UPLOAD_PROGRESS"
session.upload_progress.freq =  "1%"
session.upload_progress.min_freq = "1"
