$ModLoad imudp
$UDPServerRun 514
$AllowedSender UDP, 127.0.0.0/8

$template AccessLogFileName,"{{ web_server_log }}/%$year%%$month%%$day%_nginx_access.log"
$template ErrorLogFileName,"{{ web_server_log }}/%$year%%$month%%$day%_nginx_error.log"

local5.*    -?AccessLogFileName
local6.*    -?ErrorLogFileName
